header {
    font-size: 25px;
    font-weight: bold;
    color: #FA7111;
    text-align: left;
    font-family: cursive;
    background-color: #FAD57A;
    padding: 15px;

}


#first_div {
    font-size: 20px;
    color:#FA7111;
    font-family: cursive;
    background-color: #FAD57A;
    padding: 15px;
}

#first_h1 {
    font-size: 25px;
    font-weight: bold;
    color: #FA7111;
    font-family: cursive;
}

#footer_1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    background:pink; /* Light gray background */
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-family: cursive;
    font-weight: bold;

}